[submodule "backend/acs_component"]
	path = backend/acs_component
	url = https://github.com/dansoskin/acs_component.git
[submodule "backend/pySerialWorker"]
	path = backend/pySerialWorker
	url = https://github.com/dansoskin/pySerialWorker.git
